extends layout/layout.pug

block content
	div.top-banner.js-parallax
		h1.top-banner__title.title
			|Suspendisse elementum
		p.top-banner__text
			|Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sed convallis nibh, eget scelerisque erat. Sed elementum at nisl id euismod. Nullam eget justo magna.
		a.btn(href="#") Learn more
	//end top-banner

	section.privilege
		.privilege__col
			h3.privilege__title.title
				|We are your 
				span best 
				| option
			p.privilege__text
				|Aliquam nibh arcu, pharetra et ipsum eget, finibus suscipit odio. Morbi ornare posuere rutrum. Praesent mauris nunc, blandit a enim in, faucibus laoreet nisi. Curabitur volutpat elit sit amet molestie eleifend. Sed rutrum odio nec neque rhoncus dictum. Donec vitae 
				a.privilege__link(href="#")
					|sollicitudin
				|  nunc. Pellentesque sed libero quam.

		.privilege__col
			h3.privilege__title.title
				span Clients 
				| choose us!
			p.privilege__text
				|Maecenas ut sem ac tellus tempus hendrerit. Curabitur suscipit lorem in turpis rutrum facilisis. Sed risus erat, varius et orci non, eleifend ultricies tortor. Etiam venenatis purus turpis, eu semper neque placerat ut.
			p.privilege__text
				|Curabitur suscipit ligula at metus malesuada iaculis. 
				a.privilege__link(href="#") Learn more
	//end privilege

	section.help.js-parallax
		h2.help__title.title
			|How can we help?
		.help__wrap
			.help__col
				.help__ico
					<svg width="50" height="50" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg"><path d="M1322 597l16-175h-884l47 534h612l-22 228-197 53-196-53-13-140h-175l22 278 362 100h4v-1l359-99 50-544h-644l-15-181h674zm-1130-469h1408l-128 1438-578 162-574-162z"/></svg>
				p.help__text
					|Cras in interdum nisi, vitae blandit lectus. In imperdiet dolor eu justo rhoncus, id auctor lacus.
			.help__col
				.help__ico
					<svg width="50" height="50" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg"><path d="M216 1169l603 402v-359l-334-223zm-62-144l193-129-193-129v258zm819 546l603-402-269-180-334 223v359zm-77-493l272-182-272-182-272 182zm-411-275l334-223v-359l-603 402zm960 93l193 129v-258zm-138-93l269-180-603-402v359zm485-180v546q0 41-34 64l-819 546q-21 13-43 13t-43-13l-819-546q-34-23-34-64v-546q0-41 34-64l819-546q21-13 43-13t43 13l819 546q34 23 34 64z"/></svg>
				p.help__text
					|Duis vitae lorem nulla. Aenean lacinia purus neque, eu pulvinar ex placerat nec. Nam elementum.
			.help__col
				.help__ico
					<svg width="50" height="50" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg"><path d="M275 128h1505l-266 1333-804 267-698-267 71-356h297l-29 147 422 161 486-161 68-339h-1208l58-297h1209l38-191h-1208z"/></svg>
				p.help__text
					|Nunc lectus consectetur nulla, quis dictum augue leo eu mauris. Nulla pretium felis non dui ultrices.
			.help__col
				.help__ico
					<svg width="50" height="50" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg"><path d="M1664 896q0 251-146.5 451.5t-378.5 277.5q-27 5-39.5-7t-12.5-30v-211q0-97-52-142 57-6 102.5-18t94-39 81-66.5 53-105 20.5-150.5q0-121-79-206 37-91-8-204-28-9-81 11t-92 44l-38 24q-93-26-192-26t-192 26q-16-11-42.5-27t-83.5-38.5-86-13.5q-44 113-7 204-79 85-79 206 0 85 20.5 150t52.5 105 80.5 67 94 39 102.5 18q-40 36-49 103-21 10-45 15t-57 5-65.5-21.5-55.5-62.5q-19-32-48.5-52t-49.5-24l-20-3q-21 0-29 4.5t-5 11.5 9 14 13 12l7 5q22 10 43.5 38t31.5 51l10 23q13 38 44 61.5t67 30 69.5 7 55.5-3.5l23-4q0 38 .5 89t.5 54q0 18-13 30t-40 7q-232-77-378.5-277.5t-146.5-451.5q0-209 103-385.5t279.5-279.5 385.5-103 385.5 103 279.5 279.5 103 385.5z"/></svg>
				p.help__text
					|Praesent ac neque laoreet, sagittis ipsum vitae, ullamcorper nibh. Mori dictum orci ligula, non aliquet.
	//end help

	section.projects
		h3.projects__title.title
			|Our 
			span projects
		
		.carousel
			div.carousel__item 
				div.carousel__img
				p.carousel__text
					|Duis suscipit venenatis
			div.carousel__item
				div.carousel__img
				p.carousel__text
					|Ligula Dignissim
			div.carousel__item
				div.carousel__img
				p.carousel__text
					|Dapibus sit amet
			div.carousel__item
				div.carousel__img
				p.carousel__text
					|Quisque!
			div.carousel__item
				div.carousel__img
				p.carousel__text
					|Sit amet
			div.carousel__item
				div.carousel__img
				p.carousel__text
					|Your venenatis
			div.carousel__item
				div.carousel__img
				p.carousel__text
					|Suscipit




