extends layout/layout.pug

block content
	div.top-banner.js-parallax
		h1.top-banner__title.title
			|Suspendisse elementum
		p.top-banner__text
			|Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sed convallis nibh, eget scelerisque erat. Sed elementum at nisl id euismod. Nullam eget justo magna.
		a.btn(href="#") Learn more
	//end top-banner

	section.privilege
		.privilege__col
			h3.privilege__title.title
				|We are your 
				span best 
				| option
			p.privilege__text
				|Aliquam nibh arcu, pharetra et ipsum eget, finibus suscipit odio. Morbi ornare posuere rutrum. Praesent mauris nunc, blandit a enim in, faucibus laoreet nisi. Curabitur volutpat elit sit amet molestie eleifend. Sed rutrum odio nec neque rhoncus dictum. Donec vitae 
				a.privilege__link(href="#")
					|sollicitudin
				|  nunc. Pellentesque sed libero quam.

		.privilege__col
			h3.privilege__title.title
				span Clients 
				| choose us!
			p.privilege__text
				|Maecenas ut sem ac tellus tempus hendrerit. Curabitur suscipit lorem in turpis rutrum facilisis. Sed risus erat, varius et orci non, eleifend ultricies tortor. Etiam venenatis purus turpis, eu semper neque placerat ut.
			p.privilege__text
				|Curabitur suscipit ligula at metus malesuada iaculis. 
				a.privilege__link(href="#") Learn more
	//end privilege