footer.footer
	.footer__wrap
		.footer__col
			h4.footer__title.title
				|About 
				span us
			div.footer__row
				img.footer__img
				p.footer__text
					|Sed erat justo, dapibus sit amet dictum sit amet, condimentum vel erat. Maecenas mollis. 
			div.footer__row
				p.footer__text
					|Duis suscipit venenatis sapien, et dictum ligula dignissim non. Nunc sapien justo, faucibus commodo ullamcorper nec, tempor vitae quam. 
					a.footer__link(href="#") Read more
		.footer__col
			h4.footer__title.title
				|From our 
				span blog
			div.footer__row
				img.footer__img
				p.footer__text
					|Vestibulum volutpat sollicitudin consequat. Nam nec elit rutrum, sollicitudin ante nec...
			div.footer__row
				img.footer__img
				p.footer__text
					|Praesent ac neque laoreet, sagittis ipsum vitae, ullamcorper nibh. Morbi tum... 
		.footer__col
			h4.footer__title.title &nbsp;
			div.footer__row
				img.footer__img
				p.footer__text
					|Vestibulum volutpat sollicitudin consequat. Nam nec elit rutrum, sollicitudin ante nec...
			div.footer__row
				img.footer__img
				p.footer__text
					|Praesent ac neque laoreet, sagittis ipsum vitae, ullamcorper nibh. Morbi tum... 
		.footer__col
			h4.footer__title.title
				|Our 
				span Location
			div.footer__row
				p.footer__text
					|Suspendisse ullamcorper diam ex.
			div.footer__row
				p.footer__text
					|154 Street Name 242
				p.footer__text
					|Cityname, Country
				a.footer__link(href="mailto:info@domainame.com")
					|info@domainame.com
			ul.social
				li.social__el
					a.social__link(href="#")
						i.ico.is-twitter
				li.social__el
					a.social__link(href="#")
						i.ico.is-facebook
				li.social__el
					a.social__link(href="#")
						i.ico.is-google
				li.social__el
					a.social__link(href="#")
						i.ico.is-pinterest
//end footer