header.header
	.header__wrap
		nav.nav
			ul.nav__list
				li.nav__el
					a.nav__link(href="#") About
				li.nav__el
					a.nav__link(href="#") Products
				li.nav__el
					a.nav__link(href="#") Blog
				li.nav__el
					a.nav__link(href="#") Contact
		//end nav
//end header